.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  font-size: 16px;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
}

.navbar-container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 12px 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 900 !important;
}

.img-box {
  width: 36px;
  height: 36px;
  background-color: #ebebeb;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.input-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

.input-box[data-visible="true"] {
  opacity: 1;
  pointer-events: all;
}

.input-box input {
  width: 100%;
  height: 100%;
  font-family: inherit;
  padding: 0 24px 0 40px;
  border: none;
  outline: none;
  background-color: #ebebeb;
}

.search-icon,
.close-btn {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -52%);
  -webkit-transform: translate(0, -52%);
  -moz-transform: translate(0, -52%);
  -ms-transform: translate(0, -52%);
  -o-transform: translate(0, -52%);
}

.close-btn {
  left: unset;
  right: 16px;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.input-box .close-btn:hover {
  background-color: #fff;
}

.nav {
  margin-left: auto;
  display: none;
}

.menu-box {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.menu-btn {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.menu-btn:hover {
  background-color: #ebebeb;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: initial;
  font-weight: 600;
}

@media (min-width: 768px) {
  .input-box {
    position: relative;
    height: 48px;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    overflow: hidden;
  }

  .input-box[data-visible="false"] {
    opacity: 1;
    pointer-events: all;
  }

  .nav {
    display: block;
  }

  .menu-box,
  .close-btn {
    display: none;
  }
}
